@model IEnumerable<EmployeeManagementSystem.Models.SalaryModel>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <form method="get" action="Index">


        <div class=" container" style="min-height: 621px;">
            <h3 style="color: green;"><b>Salary Lists:</b></h3>
            <a asp-controller="Salary" asp-action="Create">Create New</a>
            <br />
            <br />
            <div class="container">
                <table class="table table-hover">
                    <thead class="table">
                        <tr>
                            <th>SalaryId</th>
                            <th>EmployeeId</th>
                            <th>DepartmentId</th>
                            <th>Amount</th>
                            <th>Action(s)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var sal in Model)
                        {
                            <tr>
                                <td>@sal.SalaryId</td>
                                <td>@sal.EmployeeId</td>
                                <td>@sal.DepartmentId</td>
                                <td>@sal.Amount</td>
                                <td><a class=" btn btn-primary" asp-action="Edit" asp-controller="Salary" asp-route-id="@sal.SalaryId">Edit</a></td>
                                <td><a class=" btn btn-danger" asp-action="Delete" asp-controller="Salary" asp-route-id="@sal.SalaryId" style="margin-left: -133px;">Delete</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <hr />
        </div>
    </form>
</body>
</html>